# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# C# Quality rules            #
###############################
[*.cs]
# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning
dotnet_diagnostic.CA1032.severity = silent
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.CS1998.severity = error
dotnet_diagnostic.CA1701.severity = silent
dotnet_diagnostic.CA1702.severity = silent
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1711.severity = silent
dotnet_diagnostic.CA1724.severity = silent
dotnet_diagnostic.CA1819.severity = silent
dotnet_diagnostic.CA1822.severity = silent
dotnet_diagnostic.IDE0008.severity = silent
dotnet_diagnostic.IDE0003.severity = silent
dotnet_diagnostic.IDE0008.severity = silent
dotnet_diagnostic.IDE0010.severity = silent
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0046.severity = silent
dotnet_diagnostic.IDE0050.severity = silent
dotnet_diagnostic.IDE0058.severity = silent
dotnet_diagnostic.IDE0072.severity = silent